# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv/
env/
venv/
*.egg-info/
dist/
build/

# Java
*.class
*.jar
*.war
*.ear
target/
bin/
*.log

# Visual Studio Code
.vscode/
.history/

# JetBrains IDEs (IntelliJ, PyCharm, etc.)
.idea/
*.iml
*.ipr
*.iws

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log

# Others
.env
*.swp
*.swo
*.bak
*.tmp
*.out